<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Order Delivery Details</h1>
    <form method="POST" action="#" data-th-action=@{/pizza/order} th:object="${delivery}">
        <table>
            <tr>
        <td>
            Name:
        </td>
            <input size="30" type="text" data-th-field="*{name}">
            <div th:if="${#fields.hasErrors('name')}">
                <span data-th-errors="*{name}" data-th-errorclass="error"></span>
            </div>
            </tr>
        </p>
        </table>
        <br>
        <p>Address:
            <input type="text" th:field="*{address}" size ="30" name="address" id="address">
            <div th:if="${#fields.hasErrors('address')}">
                <span th:errors="*{address}" class="error"></span>
            </div>
        </p>
        <br>
        <p>Phone:
            <input type="tel" th:field="*{phone}" size="30" name="phone" id="phone">
            <div th:if="${#fields.hasErrors('phone')}">
                <span th:errors="*{phone}" class="error"></span>
            </div>
        </p>
        <br>
        <p>Rush:
            <input type="checkbox" th:field="*{rush}">
        </p>
        <br>
        <p>Comments:
            <input type="text" th:field="*{comments}">
            <textarea data-th-field="*{comments}" cols="30" rows="5"></textarea>
        </p>
        <br>
        <input type="submit" value="Cancel Order" formmethod="GET" formaction="/">
       <input type="submit" value="Place Order">
    </form>
</body>
</html>